@media only screen and (max-width: 320px) {
  .leftbar {
    display: none;
  }
  
}

@media only screen and (max-width: 375px) {
  .leftbar {
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  .leftbar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 1024px) {
  
}

@media only screen and (max-width: 1440px) {
  
}
