.leftbar_img {
  width: 2em;
  height: auto;
}

.leftbar_img:hover {
  cursor: pointer;
  border-radius: 0.2em;
  filter: hue-rotate(280deg) contrast(5);
  transition: 0.2s;
}

#leftbar_containerItems {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: fixed;
  bottom: 0;
  padding-left: 3.5em;
}

li#leftbar_border::after {
  content: 's';
  padding-top:5em ;
  margin-left: 1em;
  color: #0A192F;
display: block;
border-left: 1px solid #8892B0;
margin-top: 2em;
}

@media (max-width: 767px) {
  #leftbar_containerItems {
    flex-direction: row;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    gap: 1em;
    padding: 0.2em;
    background-color: #122d5542;
    border-radius: 0.5em;
  }

  li#leftbar_border::after {
    display: none;
  }
}
